<html>
    <head>
       <title> Login Form Design </title>
           <link rel="stylesheet" type="text/css" href="style.css">
       <body>
           <div class="loginbox">
           <img src="icon.png" class="icon">
               <h1>Login Here</h1>
               <form>
                   <p>Username </p>
                   <input type="text" name="" placeholder="Enter Your Username">
                   <p>password</p>
                   <input type="password" name="" placeholder="Enter Your Password"><br>
                   <input type="Submit" name="" value="Login"><br>
                   <a href="#">Forgot Password?</a><br>
                   <a href="#">Don't have account? Click Here </a><br>
                </form>
            </div>
        </body>
    </head>
 </html>
